
/* Typography */

@import url(fonts/nadia/stylesheet.css);
@import url(fonts/bebas/stylesheet.css);

body {
	font-family: 'nadia', serif; 
	font-size: 18px;
}

nav, h1, h3, .pullquote span { 
	font-family: 'bebas', sans-serif; 
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	word-spacing: 0.3em;
}

#welcome h2 {
	font-family: 'nadia', serif;
}

.pullquote {
	font-size: 1.4em;
	line-height: 1.1em;
	font-style: italic;
}

footer {
	font-size: .7em;
}

#welcome p, #about p, #history p, #elmore p, #savoy p, #savoy blockquote, #off-day p {
	line-height: 1.4em;
}

/* Layout */

html { 
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #000;
	color: #fff;
}

nav {
	position: fixed;
	width: 100%;
	text-align: center;
	background: #33025e; /* fallback */
	background: -moz-linear-gradient(bottom, rgba(37, 5, 71, 1), rgba(176, 30, 79, 0.7)); /* firefox fallback */
    background: linear-gradient(to bottom, rgba(37, 5, 71, 1), rgba(176, 30, 79, 0.7));
	z-index: 3;
}

nav a {
	display: inline-block;
	padding: 1.4em 3em;
	color: #fff;
	text-decoration: none;
}

nav a:hover {
	color: #fff;
	background: #000;
}

footer {
	padding: 5em;
	text-align: center;
}

/* Sections  */

#welcome, #about, #history, #elmore, #savoy, #off-day {
	padding: 10em 7em 10em 7em;
	min-height: 55%;
}

#welcome p, #about p, #history p, #elmore p, #savoy p, #off-day p {
	max-width: 33%;
	min-width: 33em;
}

#welcome {
	text-shadow: 1px 1px 7px black;
	text-align: center;
	height: 66%;
	padding: 23% 0 0 0;
}

#welcome h1 strong {
	display: block;
}


#savoy blockquote {
	max-width: 20%;
	min-width: 22em;
}

/* Fixed image backgrounds */

#welcome {
	background-image: url(images/welcome.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

#about {
	background-image: url(images/about.jpg);
	background-position: center center;
	background-size: cover;
}

#history {
	background-image: url(images/history.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

#elmore {
	background-image: url(images/elmore.jpg);
	background-position: center center;
	background-size: cover;
}

#savoy {
	background-image: url(images/savoy.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
}

/* Pullquotes */

.pullquote {
	position: absolute;
	left: 33%;
	width: 33%;
	max-width: 44em;
	margin: -3em 3em 0 0;
	background: #b11e4f; /* fallback */
	padding: 2em 1.5em 2em 1.4em;
	z-index: 2;
}

.pullquote span {
	display: block;
	font-size: .5em;
	line-height: .5em;
	text-align: right;
	padding-top: 1em;
}

.pullquote p {
	margin: 0;
}
		
/* Responsive goodness */

@media only screen 
and (max-width: 575px) {
	
}
