
/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic);
@import url(fonts/bebas/stylesheet.css);

nav, h1, h2, .pullquote span { 
	font-family: 'bebasregular', sans-serif; 
	font-weight: normal; 
	font-style: normal; 
	text-transform: uppercase; 
	word-spacing: 0.3em; 
}

/* Layout */

html { 
	height: 100%; 
}
body { height: 100%; 
	margin: 0; 
	padding: 0; 
	font-family: 'Playfair Display', serif; 
	font-size: 16px; 
}

nav {
	position: fixed;
	width: 100%;
	padding: 2em 0;
	text-align: center;
	background: #000;
}

nav a {
	padding: 0 2em;
	color: #fff;
}

footer {
	padding: 1em;
	text-align: center;
}

#welcome {
	height: 60%;
	padding: 23% 0 0 0;
	border: 2px solid red;
	background-image: url(images/home.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	color: white;
}

#about, #history, #elmore, #savoy, #off-day {
	height: 100%;
	padding: 7em 0 0 3em;
	border: 2px solid red;
}

#welcome p, #about p, #history p, #elmore p, #savoy p, #savoy blockquote, #off-day p {
	max-width: 44%;
}

.pullquote {
	width: 33%;
	height: 30%;
	font-size: 2em;
	font-style: italic;
	background-color: #291aaa;
	padding: 30px;
	position: absolute;
	left: 33%;
	margin-top: -7%;
}

.pullquote span {
	display: block;
	font-size: .5em;
	text-align: right;
	padding-top: 20px;

}

/* Sections */

#welcome {
	text-align: center;
}

#welcome h1 strong {
	display: block;
}

#welcome h2 {
	font-family: 'Playfair Display', serif;
}

#about {
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(images/wall.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	color: white;
}

#about h2 {
	font-size: 2em;
}

#history {
	background-image: url(images/savoy.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	color: white;
}

.pullquote p {
	margin: 0;
}
			
/* Responsive goodness */

@media only screen 
and (max-width: 575px) {
	
}
